ul {
    width: 20%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

ul li a {

    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
